.hero-2{
    height: 180vh;
    min-height: 180vh;
}
.hero-2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 180%;
    background-color: #343a40;
    opacity: 0.9;
}
.services{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.services h1{
    color: white;
    font-weight: 100;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.services-cards{
    padding: 20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    /* grid-auto-rows: minmax(150px,auto); */
    grid-gap: 1em;
    align-items: center;
}
.S-card{
    /* width: 50px; */
    height: 400px;
    background:transparent;
    border-radius: 5px;
    box-shadow: 0 2px 2px -1px rgb(0 0 0 / 30%);
    transition: .3s all ease-in-out;
    top: 0;
    position: relative;
    overflow: hidden;
}
.S-card:hover{
    top: -10px;
    box-shadow: 0 2px 22px -1px rgb(0 0 0 / 30);
}

.S-card-pic-wrap{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.S-card-pic-wrap::after{
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    max-width: calc((100%) - 60px);
    box-sizing: border-box;
}
.S-card-img{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}
.S-card-info{
    width: 100%;
    padding: 20px 0px 20px 18px;
}
.S-card-info a{
    text-decoration: none;
}
.S-card-head{
    color: white;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 100;
    margin-bottom: 12px;
    transition: all .3s linear;
}
.S-card-head:hover{
    color: #688ce8;
}
.S-card-text{
    color: white;
    /* columns: black; */
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 100;
    margin-bottom: 20px;
}

.S-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 13%;
}
@media screen and (min-width:1066px){
    .hero-2{
        height: 180vh;
        min-height: 180vh;
    }
    .hero-2::before{
        height: 180%;
    }
}
@media screen and (max-width:1065px){
    .S-container{
        top: 10%;
    }
    .hero-2{
        height: 226vh;
        min-height: 226vh;
    }
    .hero-2::before{
        height: 226%;
    }
}

@media screen and (max-width:974px){
    .S-container{
        top: 8%;
    }
    .hero-2{
        height: 230vh;
        min-height: 230vh;
    }
    .hero-2::before{
        height: 230%;
    }
}

@media screen and (max-width:729px){
    .services-cards{
        grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
    }
}


@media screen and (max-width:575px){
    .S-container{
        top: 4%;
    }
    .hero-2{
        height: 420vh;
        min-height: 420vh;
    }
    .hero-2::before{
        height: 420%;
    }

}